<!--template/drumlocationlist.html-->
<!DOCTYPE html>
{% extends "wwdb/base.html" %}

<html>
{% block content %}
<h2>Wire movements</h2>
</br>
<button type="button" class="btn btn-outline-dark">
    <a class="nav-link" href="{% url 'drumlocationadd' %}">Add Movement</a>
</button>
</br>
</br>
<table id="" class="display table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Wire</th>
            <th>Drum</th>
            <th>Location</th>
            <th>Notes</th>
        </tr>
    </thead>
    {% for drumlocation in drum_location %}
    <tr>
        <td><a href="{% url 'drumlocationedit' drumlocation.pk %}">{{drumlocation.format_date}}</a></td>
        <td>{{drumlocation.wire}}</td>
        <td>{{drumlocation.drumid}}</td>
        <td>{{drumlocation.location}}</td>
        <td>{{drumlocation.notes}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</html>