<!--template/base.html-->

<html>
<head>
    <title>WWDB</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <center>
        <nav class='navbar navbar-default navbar-static-top'></nav>
        <div class='container'>
            <ul class='nav-left navbar-nav'>
                <li>
                    <a class='navbar-brand' href='{% url 'home' %}'>
                        Home
                    </a></li>
                <li>
                    <a class='navbar-brand' href='{% url 'startcast' %}'>
                        Start a Cast
                    </a>
                </li>
                <li>
                    <a class='navbar-brand' href='{% url 'castlist' %}'>
                        View Casts
                    </a>
                </li>
            </ul>
        </div>
    </center>
    </header>
    {% if user.is_authenticated %}
    <p>Hi {{user.username}}!</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.</p>
    <p><a href="{% url 'login' %}">Log in</a></p>
    <p><a href="{% url 'signup' %}">Sign up</a></p>
    {% endif %}
    {% block content %}
    {% endblock content %}
    </div>
</body>
</html>


