<!--template/castenddetail.html-->
{% extends "wwdb/base.html" %}

{% block content %}
<header>
    <h1>Cast ended successfully</h1>
</header>
<div class="cast-entry">
    <p>Start cast operator: {{cast.startoperatorid}}</p>
    <p>End cast opertor: {{cast.endoperatorid}}</p>
    <p>Start date: {{cast.startdate}}</p>
    <p>End date: {{cast.enddate}}</p>
    <p>Deployment type: {{cast.deploymenttypeid}}</p>
    <p>Winch: {{cast.winchid}}</p>
    <p>Notes: {{cast.notes}}</p>
    <p>Max tension: {{cast.maxtension}}</p>
    <p>Max payout: {{cast.maxpayout}}</p>
    <p>Payout at maxtension: {{cast.payoutmaxtension}}</p>
</div>

{% endblock content %}
