<!--template/castlist.html-->
{% extends "wwdb/base.html" %}

{% block content %}
<div class="container p-5">
    {% if cast_flag %}
    <h2>Flagged for review</h2>
    <table id="" class="display table table-danger table-sm">
        <thead class="thead-light">
            <tr>
                <th>Start time</th>
                <th>Winch</th>
                <th>Deployment type</th>
                <th>Start operator</th>
                <th>End operator</th>
                <th>FOS</th>
                <th>Max tension</th>
                <th>Max payout</th>
                <th>Payout at max tension</th>
            </tr>
        </thead>
        {% for cast in cast_flag %}
        <tr>
            <td><a href="{% url 'castedit' cast.pk %}">{{cast.startdate}}</a></td>
            <td>{{cast.winchid}}</td>
            <td>{{cast.deploymenttypeid}}</td>
            <td>{{cast.startoperatorid}}</td>
            <td>{{cast.endoperatorid}}</td>
            <td>{{cast.factorofsafety}}</td>
            <td>{{cast.maxtension}}</td>
            <td>{{cast.maxpayout}}</td>
            <td>{{cast.payoutmaxtension}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>There are no flagged casts</p>
    {% endif %}
    <br />
    {% if cast_noflag %}
    <h2>Completed casts</h2>
    <table id="" class="display table table-striped table-sm">
        <thead class="thead-light">
            <tr>
                <th>Start time</th>
                <th>Winch</th>
                <th>Deployment type</th>
                <th>Start operator</th>
                <th>End operator</th>
                <th>FOS</th>
                <th>Max tension</th>
                <th>Max payout</th>
                <th>Payout at max tension</th>
            </tr>
        </thead>
        {% for cast in cast_noflag %}
        <tr>
            <td><a href="{% url 'castedit' cast.pk %}">{{cast.startdate}}</a></td>
            <td>{{cast.winchid}}</td>
            <td>{{cast.deploymenttypeid}}</td>
            <td>{{cast.startoperatorid}}</td>
            <td>{{cast.endoperatorid}}</td>
            <td>{{cast.factorofsafety}}</td>
            <td>{{cast.maxtension}}</td>
            <td>{{cast.maxpayout}}</td>
            <td>{{cast.payoutmaxtension}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>There are no completed casts</p>
    {% endif %}
</div>
    {% endblock content %}
