<!--template/castlist.html-->
{% extends "wwdb/base.html" %}

{% block content %}
<div class="container p-5">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th style="width: 30%">Start time</th>
                <th style="width: 15%">Winch</th>
                <th style="width: 35%">Deployment type</th>
                <th style="width: 20%">Start operator</th>
            </tr>
        </thead>
        {% for cast in cast_list %}
        <tr>
            <td><a href="{% url 'castedit' cast.pk %}">{{cast.startdate}}</a></td>
            <td>{{cast.winchid}}</td>
            <td>{{cast.deploymenttypeid}}</td>
            <td>{{cast.startoperatorid}}</td>
        </tr>
        {% endfor %}
    </table>
    <p> To edit or delete a cast, select the start time and edit/delete in the following page.</p>
</div>
{% endblock content %}
