<!--templates/castend.html-->
{% extends "wwdb/basedisabled.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block content %}
<header>
<h1>End Cast</h1>
</header>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <input type="submit" value="Submit">
</form>
{% endblock content %}