<!--template/cutbackreterminationlist.html-->
{% extends "wwdb/base.html" %}
{% block content %}
<a href="{% url 'cutbackreterminationadd' %}"> Add a Cutback or Retermination</a>
<br />
<br />
{% for cutbackretermination in cutbackretermination_list %}
<div class="cutbackretermination-entry">
    <p><a href="{% url 'cutbackreterminationdetail' cutbackretermination.pk %}">{{cutbackretermination.wireid}}</a></p>
    <p>{{cutbackretermination.date}}</p>
    <ul>
        {% for wire in cutbackretermination.wire_set.all %}
        <p>{{ wire.nsfid }}</p>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock content %}
