<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<footer>
    <center>
        {% if user.is_authenticated %}
        <p>Hi {{user.username}}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
        <p>You are not logged in.</p>
        <p><a href="{% url 'login' %}">Log in</a></p>
        <p><a href="{% url 'signup' %}">Sign up</a></p>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </center>
</footer>
</html>