<!--template/home.html-->
<!DOCTYPE html>
{% extends "wwdb/base.html" %}

{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden; /* Prevent vertical scrolling */
        height: 100vh; /* Full viewport height */
        width: 100vw; /* Full viewport width */
        background-image: url("/static/img/endeavor_banner.jpg");
        background-size: cover; /* Cover the entire screen */
        background-position: bottom right; /* Center the image */
        position: relative;
    }
</style>
<body>
</body>
{% endblock content %}
