
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WWDB</title>
</head>
<body>

    <div class="container">
        <h2 class="text-center"><u>Stop Cast Data</u></h2><br>
        <br /><br />
        {% if submitted %}
        Cast submitted
        {% else %}
        <form action="" method=POST>

            <!-- Security token -->
            {% csrf_token %}

            <!-- Using the formset -->
            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
        {% endif %}
    </div>

</body>
</html>
