.login-control {
    display: block;
    float: right;
}

.top-button-container {
    width: 100%;
    height: 10px;
}

.btn-startcast {
    width: 100%;
    background-color: #001933;
    padding: 0.1rem 0.1rem;
    font-size: 2vw;
    float: right;
}

.button-link-startcast {
    color: white;
    text-decoration: none;
}

    .button-link-startcast:hover {
        color: white;
        text-decoration: none;
    }

.btn-configure, .btn-group-sm > .btn {
    color: #fff;
    background-color: #003366;
    border-color: #003366;
    padding: 0.1rem 0.1rem;
    font-size: 1rem;
    line-height: 1.0;
    border-radius: 0.2rem;
    font-weight: 400;
}

.home-btn-startcast {
    width: auto;
    padding: 10px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 84px;
    opacity: 0.6;
}

    .home-btn-startcast:hover {
        background-color: white;
        opacity: 1;
    }

.home-left-container {
    width: 30%;
    height: 100vh;
    float: left;
    padding: 20px;
    background-color: #000066;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 10);
}

.home-container {
    width: 100%;
    height: 100vh;
    float: right;
    padding: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link {
    color: darkblue;
    text-decoration: none;
}

    .button-link:hover {
        color: darkblue;
        text-decoration: none;
    }

.nav-item-top {
    font-size: 1.0rem;
    font-weight: 400;
}

.nav-bar-wire-log {
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 60px;
    padding: 0 20px;
}

.nav-bar-wire-log-bottom {
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 40px;
    padding: 0 20px;
}

.logo {
    height: 70px;
    width: auto;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.9;
}


.nav-item-bottom {
    font-size: 0.8rem;
    font-weight: 400;
}

.navbar-bottom {
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 60px;
    padding: 0 20px;
}

.home-btn-login {
    width: auto;
    line-height: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    opacity: 0.6;
}

    .home-btn-login:hover {
        background-color: white;
        opacity: 1;
    }


.table-safeworkingtensions {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

    .table-safeworkingtensions th {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        height: 50px;
        font-size: 24px;
    }

    .table-safeworkingtensions td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        height: 120px;
        font-size: 32px;
    }

    .table-safeworkingtensions thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

.cast-form-container {
    width: 100%;
}

.cast-form-container-inputs {
    display: inline-block;
    width: 30%;
    height: 200px;
}

.btn-outline-wwdb {
    color: #343a40;
    border-color: #343a40;
}

    .btn-outline-wwdb:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }

.btn-link-wwdb {
    color: black;
    text-decoration: none;
}

    .btn-link-wwdb:hover {
        color: white;
        text-decoration: none;
    }
