<!--templates/caststart.html-->
{% extends "wwdb/base_startendcast.html" %}
{% load bootstrap4 %}
{{ form.media }}

{% block content %}
<h1>Start Cast</h1>
<div class="container pt-2 pb-2 pl-5 pr-5">
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="cast-btn" type="submit" value="save">START CAST</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("form").on("submit", function () {
            $("input[type=submit]").attr("disabled", true);
            return true;
        });
    });
</script>
{% endblock content %}
