<!--wwdb/templates/configuration/cruisetablelist.html-->
{% load static %}
<!DOCTYPE html>
<div>
    <table class="display nowrap" data-paging="false">
        <thead>
        <th>Number</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Winch 1 block arrangement</th>
        <th>Winch 1 termination</th>
        <th>Winch 1 notes</th>
        <th>Winch 2 block arrangement</th>
        <th>Winch 2 termination</th>
        <th>Winch 2 notes</th>
        <th>Winch 3 block arrangement</th>
        <th>Winch 3 termination</th>
        <th>Winch 3 notes</th>
        <th>Science provided winches</th>
        <th> </th>
        <th> </th>
        </thead>
        <tbody>
            {% for cruise in cruise %}
            {% include 'wwdb/configuration/cruisetablerow.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>
