<!--wwdb/templates/configuration/operatortablelist.html-->
<!DOCTYPE html>
<div>
    <table class="display" data-paging="false">
        <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th>Username</th>
        <th> </th>
        <th> </th>
        </thead>
        <tbody>
            {% for winchoperator in winchoperator %}
            {% include 'wwdb/configuration/operatortablerow.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>
