<!--wwdb/templates/configuration/swttableadd.html-->
{% load static %}
<tr>
    <td>
        {{ form.winch }}
        {{ form.winch.errors}}
    </td>
    <td>
        {{ form.factorofsafety }}
        {{ form.factorofsafety.errors }}
    </td>
    <td>
        <a href="#"
           hx-post="{% url 'swttableaddsubmit' %}"
           hx-target="closest tr"
           hx-swap="outerHTML"
           hx-include="closest tr"
           class="text-secondary">
        Submit
        </a>
    </td>
    <td>
        <a href="#"
           hx-get="{% url 'swttableaddcancel' %}"
           hx-target="closest tr"
           hx-swap="outerHTML"
           class="text-secondary">
        Cancel
        </a>
    </td>
</tr>
