<!--wwdb/templates/configuration/winchtablerow.html-->
{% load static %}
<tr>
    <td>{{ winch.name }}</td>
    <td>{{ winch.status }}</td>
    <td>
        <button class='btn'
                hx-get="{% url 'winchtableedit' winch.pk %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
        Edit
        </button>
    </td>
    <td>
        <button class='btn'
                hx-confirm='Are you sure?'
                hx-target="closest tr"
                hx-swap="outerHTML swap:1s"
                hx-delete="{% url 'winchtabledelete' winch.pk %}">
        Delete
        </button>
    </td>
</tr>
