<!--template/breaktestlist.html-->
<!DOCTYPE html>
{% extends "wwdb/base.html" %}

{% block content %}
<h2>Breaktests</h2>
</br>
<button id="breaktestadd" class="btn btn-secondary btn-sm">Add Breaktest</button>
</br>
</br>
<table id="table" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Date</th>
            <th>Wire</th>
            <th>Tested Breaking Load</th>
            <th>Notes</th>
            <th>Delete</th>
        </tr>
    </thead>
    {% for breaktest in break_test %}
    <tr>
        <td>
            <a href="{% url 'breaktestedit' breaktest.pk %}" class="btn btn-primary btn-sm delete-button">Edit</a>
        </td>
        <td>{{breaktest.format_date}}</td>
        <td>{{breaktest.wire}}</td>
        <td>{{breaktest.testedbreakingload}}</td>
        <td>{{breaktest.notes}}</td>
        <td>
            <a href="{% url 'breaktestdelete' breaktest.pk %}" class="btn btn-danger btn-sm delete-button">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
    $(document).ready(function () {
        // Initialize DataTables
        $('#table').DataTable({
            responsive: true,
            scrollX: true,
            order: [[1, "desc"]]
            // Add more options as needed
        });

        // Initialize tooltips (assuming you're using Bootstrap tooltips)
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    $(document).ready(function () {
        $('#breaktestadd').click(function () {
            window.location.href = "{% url 'breaktestadd' %}";
        });
    });
    $(document).ready(function () {
        $('.delete-button').click(function (event) {
            // Check if the user is a superuser
            const isSuperUser = '{{ user.is_superuser|yesno:"true,false" }}' === 'true';

            if (!isSuperUser) {
                event.preventDefault(); // Prevent the default action (link click)
                alert('You must be logged in as an admin to edit or delete this break test.');
            }
        });
    });
</script>
{% endblock %}
