<!--template/breaktestlist.html-->
<!DOCTYPE html>
{% extends "wwdb/base.html" %}


{% block content %}
<h2>Lubrications</h2>
</br>
<button id="lubricationadd" class="btn btn-secondary btn-sm">Add Lubrication</button>
</br>
</br>
<table id="table" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Date</th>
            <th>Wire</th>
            <th>Lube type</th>
            <th>Length lubed</th>
            <th>Start lube mark</th>
            <th>End lube mark</th>
            <th>Notes</th>
            <th>Delete</th>
        </tr>
    </thead>
    {% for lubrication in lubrication %}
    <tr>
        <td>
            <a href="{% url 'lubricationedit' lubrication.pk %}" class='btn btn-primary btn-sm delete-button'>Edit</a>
        </td>
        <td>{{lubrication.format_date}}</td>
        <td>{{lubrication.wire}}</td>
        <td>{{lubrication.lubetype}}</td>
        <td>{{lubrication.lubelength}}</td>
        <td>{{lubrication.lubestartmetermark}}</td>
        <td>{{lubrication.lubeendmetermark}}</td>
        <td>{{lubrication.notes}}</td>
        <td>
            <a href="{% url 'lubricationdelete' lubrication.pk %}" class="btn btn-danger btn-sm delete-button">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
</br>
</br>
<script>
    $(document).ready(function () {
        // Initialize DataTables
        $('#table').DataTable({
            responsive: true,
            scrollX: true,
            order: [[1, "desc"]]
            // Add more options as needed
        });

        // Initialize tooltips (assuming you're using Bootstrap tooltips)
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(document).ready(function () {
        $('#lubricationadd').click(function () {
            window.location.href = "{% url 'lubricationadd' %}";
        });
    });
    $(document).ready(function () {
        $('.delete-button').click(function (event) {
            // Check if the user is a superuser
            const isSuperUser = '{{ user.is_superuser|yesno:"true,false" }}' === 'true';

            if (!isSuperUser) {
                event.preventDefault(); // Prevent the default action (link click)
                alert('You must be logged in as an admin to edit or delete this lubrication event.');
            }
        });
    });
</script>
{% endblock %}
