<!--template/breaktestlist.html-->
<!DOCTYPE html>
{% extends "wwdb/base.html" %}


{% block content %}
<h2>Lubrications</h2>
</br>
<button id="lubricationadd" class="btn btn-outline-wwdb">Add Lubrication</button>
</br>
</br>
<table id="table" class="display nowrap table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Wire</th>
            <th>Lube type</th>
            <th>Length lubed</th>
            <th>Start lube mark</th>
            <th>End lube mark</th>
            <th>Notes</th>
            <th>Delete</th>
        </tr>
    </thead>
    {% for lubrication in lubrication %}
    <tr>
        <td><a href="{% url 'lubricationedit' lubrication.pk %}">{{lubrication.format_date}}</a></td>
        <td>{{lubrication.wire}}</td>
        <td>{{lubrication.lubetype}}</td>
        <td>{{lubrication.lubelength}}</td>
        <td>{{lubrication.lubestartmetermark}}</td>
        <td>{{lubrication.lubeendmetermark}}</td>
        <td>{{lubrication.notes}}</td>
        <td><a href="{%url 'lubricationdelete' lubrication.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
</br>
</br>
<script>
    $(document).ready(function () {
        // Initialize DataTables
        $('#table').DataTable({
            responsive: true,
            scrollX: true,
            order: [[0, "desc"]]
            // Add more options as needed
        });

        // Initialize tooltips (assuming you're using Bootstrap tooltips)
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    $(document).ready(function () {
        $('#lubricationadd').click(function () {
            window.location.href = "{% url 'lubricationadd' %}";
        });
    });
</script>
{% endblock %}
