.login-control {
    display: block;
    float: right;
}

.top-button-container {
    width: 100%;
    float: right;
}

.btn-startcast {
    color: #dc3545;
    background-color: #dc3545;
    padding: 0.1rem 0.1rem;
    float: right;
}

.btn-configure, .btn-group-sm > .btn {
    color: #fff;
    background-color: #003366;
    border-color: #003366;
    padding: 0.1rem 0.1rem;
    font-size: 1rem;
    line-height: 1.0;
    border-radius: 0.2rem;
    font-weight: 400;
}

.home-btn-startcast {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 96px;
}

.home-btn-startcast:hover {
    background-color: darkblue;
}

.home-left-container {
    width: 30%;
    height: 100vh;
    float: left;
    padding: 20px;
    background-color: #dee2e6; 
}

.home-right-container {
    width: 70%;
    height: 100vh;
    float: right;
    padding: 20px;
}

.button-link {
    color: white;
    text-decoration: none;
}

.button-link:hover {
    color: white;
    text-decoration: none;
}

.nav-item-top {
    font-size: 1.0rem;
    font-weight: 400;
}

.nav-item-bottom {
    font-size: 0.8rem;
    font-weight: 400;
}

.navbar-bottom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.9);
}

.navbar {
    background-color: #D2D7DF;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.menu-container {
    border: pink;
    width: 100%;
}

.menu-left {
    width: 90%;
    float: left;
}

.menu-right {
    width: 10%;
    margin-left: 90%;
}

@page {
    size: auto;
}

.table-safeworkingtensions {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-safeworkingtensions th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    height: 50px;
    font-size: 24px;
}

.table-safeworkingtensions td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    height: 120px;
    font-size: 32px;
}



.table-safeworkingtensions thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
